
BMXKeyboardStatus.xcworkspace/xcuserdata/*
TestApp/BMXKeyboardStatusTest.xcodeproj/xcuserdata/*
Framework/BMXKeyboardStatus.xcodeproj/project.xcworkspace/xcuserdata/*
Framework/BMXKeyboardStatus.xcodeproj/xcuserdata/max.xcuserdatad/*

BMXKeyboardStatus.xcworkspace/xcshareddata/*
